section {
  background-color: #f3f3f5;
  padding-top: 160px;
  padding-bottom: 60px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.text-container {
  width: 35%;
  font-family: 'Arial', sans-serif;
}

.image-container {
  width: 65%;
}

h1 {
  font-size: 2rem;
  color: #003366;
}

p {
  font-size: 1.2rem;
  color: #333;
}

.form-container {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0055a5;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}