<body>
  <div class="principal-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Login</h1>
      <div class="input-container">
        <input type="text" formControlName="username" placeholder="usuario">
        <i class="bi bi-person"></i>
      </div>
      <div class="input-container">
        <input type="password" formControlName="password" placeholder="contraseña">
        <i class="bi bi-lock"></i>
      </div>
      <div class="checkbox-recordar">
        <label>
          <input type="checkbox">Recordar
        </label>
        <a href="#">Recuperar contraseña
        </a>
      </div>
      <button type="submit" class="boton-login">
        Iniciar sesión
      </button>
      <div class="registro-container">
        <p>
          ¿No tienes una cuenta?<a href="">Registrar</a>
        </p>
      </div>
    </form>
  </div>
</body>